.btn-to-top{
  border: 0;
  background: radial-gradient(#1D8E75, #186B59);
  padding: 8px 20px;
  font-size: 14px;
  color: #fff;
  display: none;
  position: fixed;
  top: 120px;
  right: 30px;
  z-index: 1;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}
.btn-to-top:hover{
  background: #1D8E75;
}