.chapter{
	transform-style: preserve-3d;
	display: inline-block;
}

.chapter:hover{
	animation-name: rotate;
	animation-duration: 0.8s;
	animation-timing-function: ease-in;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;

	-webkit-animation-name: rotate;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-delay: 0.5s;
	-webkit-animation-fill-mode: forwards;
}
@webkit-keyframes rotate{
	from{transform: rotate(0deg);
		opacity: 1;}
	to{transform: rotate(-15deg);
		opacity: 0.9;}
}

@keyframes rotate{
	from{transform: rotate(0deg);
		opacity: 1;}
	to{transform: rotate(-15deg);
		opacity: 0.9;}
}

.jumbotron
{
	text-align: center;
	background: linear-gradient(to bottom, #F5F5F5, #13133B);
	padding-top: 70px;
	line-height: 40px;
}

.jumbotron h1{
	font-size: 44px;
	letter-spacing: 8px;
	color:#186B59;
	margin-bottom: 20px;
}

.jumbotron p{
	font-size: 22px;
	color: #F5F5F5;
}

.signup-link{
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  letter-spacing: 8px;
  margin: 0;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 20px 30px;
}

.signup-link:hover{
  background: #fff;
  color: #186B59;
}
